.cover {
    background: #1a1b22;
    width: 1722px;
    position: absolute;
}
.header__nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    margin-left: 132px;
    margin-right: 150px;
    padding-top: 101px;
}

.nav__news{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto Slab;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  
  
}

.nav__item{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 26px;

   
}
.nav__aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 101px;
    
}

.nav__aside_cover{
    margin-right: 34px;
}
.nav__item_select{
    border-bottom: 1px solid #fff;
}