<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewsAnalyser</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>
<body class="main about__main">
  <header class="header__cover header__cover_about">


    <nav class="header__nav header__nav_about">
     <a class="header__nav_news header__nav_news_about" href="index_analyzer.html">NewsAnalyzer</a>
      <div class="header__nav_aside header__nav_aside_about">   
        <a class="nav_aside_item nav_aside_item_about-main nav_item_select_about" href="index.html">Главная</a>
        <a class="nav_aside_item nav_aside_item_about" href="index_about.html">О проекте</a>
      </div>
    </nav>
  </header>
  <article class="about__article"> 
      <h3 class="about__article_title">Клиентам</h3>
      <div class="about__article_content">
        <p>Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, 
        чему научился студент, какими технологиями владеет.</p>
        <p>Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. 
        Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах, 
        выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
        <p>Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт 
        продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.</p>
        <p>При создании проекта была использована сборка технологией Webpack. Это современный 
        подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт 
        работает в старых браузерах. Даже если посетители — пользователи старых операционных систем, 
        у них не будет проблем с отображением. А значит, потенциальная аудитория возрастает.</p>
        <p>Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы 
        рекомендуем обратиться к этому студенту.</p>  

        </div>

  </article>
<div class="about__tools">
   <h4 class="about__tools_title">Используемые технологии</h4>
   <div class="about__tools_kit">
      
       <div class="about__tools_item about__tools_item-location_html">
           <p class="about__tools_item_subtitle">HTML</p>
           <img class="about__tools_item_pict" src="<%= require('../images/html.svg').default %>" alt="icon"/>
       </div>
       <div class="about__tools_item about__tools_item-location_css ">
           <p class="about__tools_item_subtitle">CSS</p>
           <img class="about__tools_item_pict" src="<%= require('../images/css.svg').default %>" alt="icon"/>
       </div>
   
       <div class="about__tools_item about__tools_item-location_js">
           <p class="about__tools_item_subtitle">Java Script</p> 
           <img class="about__tools_item_pict" src="<%= require('../images/js.svg').default %>" alt="icon"/>
       </div>
       <div class="about__tools_item about__tools_item-location_wp">
           <p class="about__tools_item_subtitle">Webpack</p>
           <img class="about__tools_item_pict" src="<%= require('../images/webpack.svg').default %> " alt="icon"/>
       </div>
  
   </div> 
</div>
<div class="main__autor main__autor_about">
    <img class="main__autor_img" src="./images/1569406016_seksualnaja-hju-lori-51.jpg" alt="фото автора проекта" />
     <aside class="main__autor_content">
      <h3 class="main__autor_content_title" >Об авторе</h3>
      <div class="main__autor_article">
        <p>Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, 
        чем вы занимаетесь, какими технологиями разработки владеете. </p>
        <p>Также можно рассказать 
        о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь 
        потенциальным заказчикам.</p>
       </div>     
     </aside>
</div>
    <section class="about__commit">
        <div class="about__commit_header">
           <h4 class="about__commit_title">История коммитов из GitHub</h4>
           <a class="about__commit_link" href="#">Открыть в GitHub
           <img src="<%= require('../images/Path5.png').default %>" class="about__commit_path" alt="стрелка" /></a>
        </div>
        <div class="about__commit_slaider">
          <div class="about__commit_slaider_mask">
           <img class="about__slaider_button_left" src="<%= require('../images/button_previous.svg').default %>" alt="кнопка предыдущий"/>
           <img class="about__slaider_button_right" src="<%= require('../images/button_next.svg').default %>" alt="кнопка следующий"/>

          </div>
          <section class="about__commit_slaider_content">
            <div class="about__commit_card">
                <h4 class="about__commit_card_data">14 агуста, 2019</h4>
                <div class="about__commit_card_person">
                    <img class="about__commit_card_person_pict" src="<%= require('../images/commit_foto/1.jpg').default %>" alt="фото"/>
                    <div class="about__commit_card_person_info">
                    <h4 class="about__commit_card_person_name">Антон Долинин</h4>
                    <p class="about__commit_card_person_e-maile">anton@yandex.ru</p>
                    </div>
                </div>
                <p class="about__commit_card_commit">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                </p>
               
            </div>
            <div class="about__commit_card">
                <h4 class="about__commit_card_data">14 агуста, 2019</h4>
                <div class="about__commit_card_person">
                    <img class="about__commit_card_person_pict" src="<%= require('../images/commit_foto/2.jpg').default %>" alt="фото"/>
                    <div class="about__commit_card_person_info">
                    <h4 class="about__commit_card_person_name">Антон Долинин</h4>
                    <p class="about__commit_card_person_e-maile">anton@yandex.ru</p>
                </div>
               </div>
                <p class="about__commit_card_commit">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                </p>
               
            </div>
            <div class="about__commit_card">
                <h4 class="about__commit_card_data">14 агуста, 2019</h4>
                <div class="about__commit_card_person">
                    <img class="about__commit_card_person_pict" src="<%= require('../images/commit_foto/3.jpg').default %>" alt="фото"/>
                    <div class="about__commit_card_person_info">
                    <h4 class="about__commit_card_person_name">Антон Долинин</h4>
                    <p class="about__commit_card_person_e-maile">anton@yandex.ru</p>
                    </div>
                </div>
                <p class="about__commit_card_commit">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                </p>
          
            </div>
            <div class="about__commit_card">
                <h4 class="about__commit_card_data">14 агуста, 2019</h4>
                <div class="about__commit_card_person">
                    <img class="about__commit_card_person_pict" src="<%= require('../images/commit_foto/2.jpg').default %>" alt="фото"/>
                    <div class="about__commit_card_person_info">
                    <h4 class="about__commit_card_person_name">Антон Долинин</h4>
                    <p class="about__commit_card_person_e-maile">anton@yandex.ru</p>
                </div>
               </div>
                <p class="about__commit_card_commit">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                </p>
               
            </div>
            <div class="about__commit_card">
                <h4 class="about__commit_card_data">14 агуста, 2019</h4>
                <div class="about__commit_card_person">
                    <img class="about__commit_card_person_pict" src="<%= require('../images/commit_foto/3.jpg').default %>" alt="фото"/>
                    <div class="about__commit_card_person_info">
                    <h4 class="about__commit_card_person_name">Антон Долинин</h4>
                    <p class="about__commit_card_person_e-maile">anton@yandex.ru</p>
                    </div>
                </div>
                <p class="about__commit_card_commit">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                </p>
            </div>
           </section>
        </div>
       
        <div class="about__commit_indicator">
                <img class="about__commit_indicator_item" src="<%= require('../images/rise.png').default %>" alt="marcker"/>
                <img class="about__commit_indicator_item" src="<%= require('../images/rise.png').default %>"alt="marcker"/>
                <img class="about__commit_indicator_item about__commit_indicator_activ" src="<%= require('../images/rise.png').default %>" alt="marcker"/>
                <img class="about__commit_indicator_item" src="<%= require('../images/rise.png').default %>" alt="marcker"/>
                <img class="about__commit_indicator_item" src="<%= require('../images/rise.png').default %>"alt="marcker"/>
        </div>
        <a class="about__commit_link_small" href="#">Открыть в GitHub </a>
    </section>
    <footer class="main__footer">
        <div class="main__footer_logo">© 2019  Supersite</div>
        <nav class="main__footer_nav">
           <a class="main__footer_nav_item" href="index.html">Главная</a>
           <a class="main__footer_nav_item" href="index_about.html">О проекте</a>
           <a class="main__footer_nav_item" href="#">Яндекс.Практикум</a>
        </nav>
        <div class="main__footer_link">
          <a class="main__footer_link-icon" href="#"><img src="./images/git_hub_icon.svg" alt="icon" /></a>
          <a class="main__footer_link-icon" href="#"><img src="./images/facebook_icon.svg" alt="icon"/></a>
        </div>
 
    </footer>
    <script type="module" src="index.js"></script>

</body>
</html>