.about__main {
    background: #fff;
    /*display: none;*/
    border: 0px green solid;
}
.header__cover_about{
    background-color: #fff;
}
.header__nav_about{
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(37, 37, 37, 0.2); 
    border: 0px solid blueviolet;
}

.header__nav_news_about{
    color: #000;
     
}
.header__nav_aside_about{

}

.nav_aside_item_about{
    color: #000;
    text-decoration: none;
}
.nav_aside_item_about-main{
    color: #000;
    text-decoration: none;
    margin-right: 34px;
}

.nav_item_select_about{
    border-bottom: 2px solid #000;
}
.nav_item_about{
    color: #000;
 
}
.about__article{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 36%;
    margin-left: 104px;
    display: flex;  /*+++++++++++++++++++++++++++++++++++++++*/

}
.about__article_title{
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-top: 80px;
    margin-bottom: 24px;
}
.about__article_content{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}
.about__tools{
    position: relative;
    background: #F5F6F7;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    
}
.about__tools_title{
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin: 80px auto 162px 104px;
    color: #1A1B22;
}
.about__tools_kit{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    justify-content: center;
    position: relative; 
    margin-right: 231px;

}
.about__tools_item{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0px solid red;
}
.about__tools_item_subtitle{
    position: relative;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #1A1B22;
  
}
.about__tools_item_pict{
    position: relative;
    display: flex;
    margin: 0 auto;  

}
.about__tools_item-location_html{
    grid-column: 1;
   
}
.about__tools_item-location_css{
    grid-column: 2;
  
}
.about__tools_item-location_js{
    grid-column: 3;
  
}
.about__tools_item-location_wp{
    grid-column: 4;
 
}
.main__autor_about{
/*display: none;*/
}
@media screen and (max-width: 1000px) {
    .header__nav_aside_about{
        margin-right: 42px;
    }
    .about__article{
    max-width: 688px;
    margin: 0 auto 0 auto;
    }
    .about__tools {
        flex-direction: column;
    }
    .about__tools_title{
        width: 288px;
        margin: 40px auto 40px 40px;
        font-size: 30px;
        line-height: 34px;
    }
    .about__tools_kit{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
    }
    .header__cover_about{
        height:82px;
    }
}




@media screen and (max-width: 700px) {
    .header__nav_aside_about{
        margin-right: 14px;
    }
    .nav_aside_item_about-main{
        margin-right: 11px;
    }
    
    .about__article{
        margin: 0 40px 0 40px;
    }
    .about__tools_title{
        margin: 32px 16px auto 16px;
        font-size: 30px;
        line-height: 40px;
    }
    .about__tools_kit{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
       }
    .about__tools_item-location_html{
        grid-column: 1;
        grid-row: 1;

        margin-right: 0px;
        margin-left: 37px;
       }
     .about__tools_item-location_css{
        grid-column: 2;
        grid-row: 1;
        margin-right: 0px;
        }
    .about__tools_item-location_js{
        grid-column: 1;
        grid-row: 2;
        margin-right: 0px;
        margin-left: 37px;
       }
       .about__tools_item-location_wp{
        grid-column: 2;
        grid-row: 2;

       }


    }
    
@media screen and (max-width: 400px) {
    .header__nav_aside_about{
        margin-right: 14px;
    }
    .nav_aside_item_about-main{
        margin-right: 11px;
    }
    
    .about__article{
        margin: 0 16px 0 16px;
    }
    .nav_aside_item_about{
        margin-right: 0;
    }
}