.about__main {
    background: #fff;
    /*display: none;*/
    border: 0px green solid;
}
.cover__about{
    background: none;
}
.header__nav_about{
  
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #D1D2D6;
    border: 0px solid blueviolet;
}

.nav__news_about{
    color: #000;
     
}
.nav__aside_about{

}
.nav__aside_main_about{
    color: #000;
   
}

.nav__item_select_about{
    border-bottom: 1px solid #000;
}
.nav__item_about{
    color: #000;
 
}
.about__article{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 150px;
    margin-right: 36%;
    margin-left: 104px;
    display: none;  /*+++++++++++++++++++++++++++++++++++++++*/

}
.about__article_title{
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-bottom: 24px;
}
.about__article_content{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}
.about__tools{
    position: relative;
    background: #F5F6F7;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    
}
.about__tools_title{
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin: 80px auto 162px 104px;
    color: #1A1B22;
}
.about__tools_kit{
    display: grid;
    grid-template-rows: 4, 1fr;
    justify-content: center;
    position: relative; 

}
.about__tools_item{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0px solid red;
}
.about__tools_item_subtitle{
    position: relative;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #1A1B22;
  
}
.about__tools_item_pict{
    position: relative;
    display: flex;
    align-items: center;   

}
.about__tools_item-location_html{
    grid-column: 1;
    margin-right: 41px;
}
.about__tools_item-location_css{
    grid-column: 2;
    margin-right: 37px;
}
.about__tools_item-location_js{
    grid-column: 3;
}
.about__tools_item-location_wp{
    grid-column: 4;
    margin-right: 216px;
    margin-left: 40px;
}
.main__autor_about{
/*display: none;*/
}
@media screen and (max-width: 1100px) {
    .about__tools {
        flex-direction: column;
    }
    .about__tools_title{
        margin: 40px auto 40px 40px;
        font-size: 30px;
        line-height: 34px;
    }
    .about__tools_item-location_wp{
        margin-right: 40px;
    }
}




@media screen and (max-width: 700px) {
    .about__article{
        margin: 146px 40px auto 40px;
    }
    .about__tools_title{
        margin: 32px 16px auto 16px;
        font-size: 30px;
        line-height: 40px;
    }
    .about__tools_kit{
        display: grid;
        grid-template-rows: 2, 1fr;
        grid-template-columns: 2, 1fr;
       }
    .about__tools_item-location_html{
        grid-column: 1;
        grid-row: 1;

        margin-right: 0px;
        margin-left: 37px;
       }
     .about__tools_item-location_css{
        grid-column: 2;
        grid-row: 1;
        margin-right: 0px;
        }
    .about__tools_item-location_js{
        grid-column: 1;
        grid-row: 2;

        margin-right: 0px;
        margin-left: 37px;
       }
       .about__tools_item-location_wp{
        grid-column: 2;
        grid-row: 2;

        margin-left: 60px;
       }


    }