.analyzer__header{
position: relative;
margin-left: 104px;
}
.analyzer__header_subtitle{
position: relative;
display: flex;
flex-direction: row;
justify-content: start;
margin-bottom: 0px;

}
.analyzer__header_subtitle_main{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
margin-top: 40px;
color: #1A1B22;
}
.analyzer__header_subtitle_analyzer{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgb(146, 146, 150);
    margin-top: 40px;
    margin-left: 4px;
    }
.analyzer__header_title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin-top: 80px;
    color: #1A1B22;
    margin-bottom: 0px;
}
.analyzer__header_statistic{

}

.analyzer__header_header_count_news{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 24px;
}

.analyzer__header_count_subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin-top:0;
    margin-bottom: 0;
}
.analyzer__header_count_subtitle_news_head{
    margin-bottom: 0;
}
.analyzer__header_count_subtitle_head_lines{
    
}
.analyzer__header_count_head_lines{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;  
    margin-top: 4px;
}
.analyzer__header_count_data{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin-top:0;
    margin-bottom: 0;
}
.analyzer__header_count_news_data{
    margin-left: 5px;
}
.analyzer__header_count_data{
    margin-left: 5px;
}
@media screen and (max-width: 980px) {
  
    .analyzer__header{
        margin-left: 40px;
    }


    .nav__aside_main_about{
        padding-bottom: 18px;
    }
    .analyzer__header_subtitle_main{
        margin-top: 32px;
        margin-bottom: 0;
    }
    .analyzer__header_title{
        margin-top: 64px;
        font-size: 32px;
        line-height: 34px;
    }
    .analyzer__header_subtitle_analyzer{
        margin-top: 32px;
        margin-bottom: 0;
    }
  
}