.analyzer__graphics{
    position: relative;
    margin-top: 80px;
    background: #F5F6F7;
 
 }
.analyzer__graphics_title{
    position: relative;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    top: 80px;
    margin-left: 104px;
    
}
.analyzer__graphics_grid_caption{
    height: 80px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 100px;
    
}

.analyzer__graphics_grid_caption_data{
    grid-column: 1; 
    grid-row: 1;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 104px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-align: left;
    color: #B6BCBF;
    margin-right: 40px;
} 
.analyzer__graphics_grid_caption_title{
    grid-column: 2/4;
    grid-row: 1;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}
.analyzer__graphics_line{
    width: 85%;
    position: absolute;
    color: #000;
    left: 104px;
    top: 55px;
}
.analyzer__graphics_grid_item{
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}
.analyzer__graphics_grid_caption_scale_0{
    grid-column: 2/3;
    grid-row: 2;
   
}
.analyzer__graphics_grid_caption_scale_25{
    grid-column: 4/5;
    grid-row: 2;
  
}
.analyzer__graphics_grid_caption_scale_50{
    grid-column: 6/7;
    grid-row: 2;
   
}
.analyzer__graphics_grid_caption_scale_75{
    grid-column: 8/9;
    grid-row: 2;
  
}
.analyzer__graphics_grid_caption_scale_100{
    grid-column: 10/11;
    grid-row: 2;
  
}
.analyzer__graphics_diagrams{
    height: 610px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.graphics_diagrams_rectangle{
    width: 15%;
    position: relative;
    height: 24px;
    background: #2F71E5;
    top: calc(50% - 24px/2);
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-left: 45px;
    color: #FFFFFF;
    justify-content: center;
}
.analyzer__graphics_diagrams_day{
    position: relative;
    height: 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    color: #1A1B22;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.4px;
    margin-left: 104px;
   
  
}
.analyzer__graphics_diagrams_manday{
    grid-column: 1;
    grid-row: 1;
}
.graphics_diagrams_rectangle_manday{
    width: 16%;
    grid-column: 2/10;
    grid-row: 1;
}
.analyzer__graphics_diagrams_tuesday{
    grid-column: 1;
    grid-row: 2;
}
.graphics_diagrams_rectangle_tuesday{
    width: 22.4%;
    grid-column: 2/10;
    grid-row: 2;
}
.analyzer__graphics_diagrams_wednesday{
    grid-column: 1;
    grid-row: 3;
}
.graphics_diagrams_rectangle_wednesday{
    width: 10.5%;
    grid-column: 2/10;
    grid-row: 3;
}
.analyzer__graphics_diagrams_thrustday{
    grid-column: 1;
    grid-row: 4;
}
.graphics_diagrams_rectangle_thrustday{
    width: 36.8%;
    grid-column: 2/10;
    grid-row: 4;
}
.analyzer__graphics_diagrams_friday{
    grid-column: 1;
    grid-row: 5;
}
.graphics_diagrams_rectangle_friday{
    width: 45.8%;
    grid-column: 2/10;
    grid-row: 5;
    }
.analyzer__graphics_diagrams_satarday{
    grid-column: 1;
    grid-row: 6;
}
.graphics_diagrams_rectangle_satarday{
    width: 71.2%;
    grid-column: 2/10;
    grid-row: 6;
}
.analyzer__graphics_diagrams_sanday{
    grid-column: 1;
    grid-row: 7;
}
.graphics_diagrams_rectangle_sanday{
    width:27.6%;
    grid-column: 2/10;
    grid-row: 7;
}
.analyzer__graphics_grid_footer_scale_0{
    grid-column: 2/3;
    grid-row: 8;
    margin-left: 50px;
}
.analyzer__graphics_grid_footer_scale_25{
    grid-column: 4/5;
    grid-row: 8;
    margin-left: 40px;
}
.analyzer__graphics_grid_footer_scale_50{
    grid-column: 6/7;
    grid-row: 8;
    margin-left: 30px;
}
.analyzer__graphics_grid_footer_scale_75{
    grid-column: 8/9;
    grid-row: 8;
    margin-left: 20px;
}
.analyzer__graphics_grid_footer_scale_100{
    grid-column: 10/11;
    grid-row: 8;
    margin-left: 10px;
}
@media screen and (max-width: 980px) {
    .analyzer__graphics_title{
        margin-left: 40px;  
    }
    .analyzer__graphics_grid_caption_up_{
        margin-left: 163px;
    }
    .analyzer__graphics_grid_caption_data{
        margin-left: 40px; 
    }
    .margin-left{
        margin-left: 40px;
    }
       
    .analyzer__graphics_diagrams_day{
        margin-left: 40px;
    }
    .analyzer__graphics_line{
        width: 90%;
        left: 0;
        margin-left: 40px;
    }
}
    @media screen and (max-width: 600px) {
        .analyzer__graphics_title{
            margin-left: 16px;  
        }
        .analyzer__graphics_grid_caption_data{
            margin-left: 16px; 
        }
           
        .analyzer__graphics_diagrams_day{
            margin-left: 16px;
        }
        .analyzer__graphics_line{
            width: 90%;
            left: 0;
            margin-left: 16px;
        }
        .analyzer__graphics_grid_item{
            display: none;
        }

}

