<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewsAnalyser</title>
  <!--link rel="stylesheet" href="./styles/index.css"-->
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
</head>
<body class="main">
     <header class="cover">
       <img class="cover__imag" src="../src/images/header.png"> 
       <img class="cover__imag cover__imag_small" src="../src/images/header_small.png"> 
     <nav class="header__nav">
     <a class="nav__news" href="index_analyzer.html">NewsAnalyzer</a>
      <div class="nav__aside ">   
        <a class="nav__aside_main nav__item_select" href="../dist/index.html">Главная</a>
        <a class="nav__item" href="index_about.html">О проекте</a>
      </div>
  </nav>
  <div class="main_title">
     <h1 class="header__title">Что в мире творится?</h1>
     <p class="header__subtitle">Введите в поиске любую тему и узнайте, 
     насколько популярной она была в новостях за прошедшую неделю.</p>
  </div>

  <form class="main__input__user-data">
    <input type="text" placeholder="Введите тему новости" class="main__input main__input_text">
    <button type="button" class="main__input main__input_serch">Искать</button>
  </form>
</header>

  <section class="main__serch_news">
    <div class="serch__action">
     <i class="circle-preloader"></i>
     <p class="serch__action_caption">Идет поиск новостей</p>
    </div>

    <div class="main__serch_message_nothing">
      <img class="main__serch_message_nothing_img" src="<%= require('../src/images/not_faind.svg'). defailt %>" alt="иконка ничего не найдено"/>
      <h4 class="main__serch_message_nothing_title">Ничего не найдено</h4>
      <p class="main__serch_message_nothing_subtitle">К сожалению по вашему запросу 
        ничего не найдено.</p>
    </div>

  </section>


    <section class="main__articles">
      <div class="main__articles_header">
      <h2 class="main__result_title"> Результаты поиска</h2>
      <a class="main__result_link" href="../src/analyzer/index.html">Посмотреть аналитику<img src="<%= require('./images/Path5.png').default %>" class="main__result_path" alt="стрелка" /></a>
      
      </div>
     <div class="main__block">
     <div class="main__content">
      <article class="main__news_item">
          <img class="main__news_item_imag" src="../src/images/flavor.jpg" alt="картинка" /> 
          <p class="main__news_data">2 августа 2019г.</p>
          <h3 class="main__news_item_title">Национальное достояние-парки</h3>
          <blockquote class="main__news_item_content">
           В 2016 году Америка отмечала важный юбилей: 
          </blockquote>
          <p class="main__news_item_addres">ЛЕНТА.РУ</p>
      </article>
      <article class="main__news_item">
           <img class="main__news_item_imag" src="../src/images/flavor.jpg" alt="картинка" /> 
           <p class="main__news_data">2 августа 2019г.</p>
           <h3 class="main__news_item_title">Национальное достояние-парки</h3>
           <blockquote class="main__news_item_content">
            В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала 
            складываться система национальных парков – охраняемых территорий, где и 
            сегодня каждый может приобщиться к природе. 
            </blockquote>
           <p class="main__news_item_addres">ЛЕНТА.РУ</p>
      </article>
      <article class="main__news_item">
           <img class="main__news_item_imag" src="../src/images/flavor.jpg" alt="картинка" /> 
           <p class="main__news_data">2 августа 2019г.</p>
          <h3 class="main__news_item_title">Национальное достояние-парки</h3>
          <blockquote class="main__news_item_content">
           В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала 
           складываться система национальных парков – охраняемых территорий, где и 
           сегодня каждый может приобщиться к природе. 
      </blockquote>
      <p class="main__news_item_addres">ЛЕНТА.РУ</p>
     </article>
     <article class="main__news_item">
      <img class="main__news_item_imag" src="../src/images/flavor.jpg" alt="картинка" /> 
      <p class="main__news_data">2 августа 2019г.</p>
      <h3 class="main__news_item_title">Национальное достояние-парки</h3>
      <blockquote class="main__news_item_content">
       В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала 
       складываться система национальных парков – охраняемых территорий, где и 
       сегодня каждый может приобщиться к природе. 
      </blockquote>
      <p class="main__news_item_addres">ЛЕНТА.РУ</p>
     </article>
     <article class="main__news_item">
       <img class="main__news_item_imag" src="../src/images/flavor.jpg" alt="картинка" /> 
       <p class="main__news_data">2 августа 2019г.</p>
       <h3 class="main__news_item_title">Национальное достояние-парки</h3>
       <blockquote class="main__news_item_content">
        В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала 
        складываться система национальных парков – охраняемых территорий, где и 
        сегодня каждый может приобщиться к природе. 
        </blockquote>
       <p class="main__news_item_addres">ЛЕНТА.РУ</p>
      </article>
      <article class="main__news_item">
       <img class="main__news_item_imag" src="../src/images/flavor.jpg" alt="картинка" /> 
       <p class="main__news_data">2 августа 2019г.</p>
      <h3 class="main__news_item_title">Национальное достояние-парки</h3>
      <blockquote class="main__news_item_content">
       В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала 
       складываться система национальных парков – охраняемых территорий, где и 
       сегодня каждый может приобщиться к природе. 
      </blockquote>
      <p class="main__news_item_addres">ЛЕНТА.РУ</p>
      </article>
      </div>  
         <button type="button" class="main__input main__news_item_button-next">Показать ещё</button>
    </div>
</section>

<div class="main__autor">
  <img class="main__autor_img" src="<%= require('./images/1569406016_seksualnaja-hju-lori-51.jpg').default %>" alt="фото автора проекта" />
   <aside class="main__autor_content">
    <h3 class="main__autor_content_title" >Об авторе</h3>
    <div class="main__autor_article">
      <p>Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, 
      чем вы занимаетесь, какими технологиями разработки владеете. </p>
      <p>Также можно рассказать 
      о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь 
      потенциальным заказчикам.</p>
    </div>
   </aside>
  </div>
   <footer class="main__footer">
   
       <div class="main__logo">© 2019  Supersite</div>
       <nav class="main__nav">
          <a class="main__nav_item" href="../src/index.html">Главная</a>
          <a class="main__nav_item" href="../src/about_project/index.html">О проекте</a>
          <a class="main__nav_item" href="#">Яндекс.Практикум</a>
       </nav>

       <div class="main__footer_link">
         <a class="main__footer_link-icon" href="#"><img src="<%= require('./images/git_hub_icon.svg').default %>" alt="icon github"/></a>
         <a class="main__footer_link-icon" href="#"><img src="<%= require('./images/facebook_icon.svg').default %>" alt="icon Facebook"/></a>
       </div>

   </footer>

   <script type="module" src="index.js"></script>
   <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
 

</body>
</html>