.main__news_item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: auto;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    margin: 8px 8px 8px 8px;
    border: 0px solid lawngreen;
  
}
.main__news_item_imag{
   border-radius: 20px 20px 0 0;
   position: relative;
   width: 400px;
   border: 0px solid red;
   overflow: hidden;
  
} 
.main__news_data{
    position: relative;
    margin-left: 24px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B6BCBF;
    margin: 20px auto 0 24px;
}
.main__news_item_title{
    position: relative;
    margin-left: 24px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin: 12px auto 0 24px;

}
.main__news_item_content{
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin-left: 24px;
    margin: 16px 24px 18px 24px;
}
.main__news_item_addres{
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: auto auto 24px 24px;
}
.main__news_item_button-next{
    position: relative;
    width: 288px;
    border-radius: 80px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-top: 64px;
    margin-bottom:80px;
    margin-left: auto;
    margin-right: auto;

}
.main__news_item_button-next:hover{
    background: #FFFFFF;
    opacity: 0.9;
}
@media screen and (max-width: 980px) {
    
   .main__news_item{
       width: 224px;
   }
   .main__news_item_imag{
       width: 224px;
       height: 150px;
   }  
   .main__news_data{
       margin: 16px auto 0 12px ;

    }
    .main__news_item_title{
        font-size: 22px;
        line-height: 24px;
        margin: 12px auto 10px 16px;
    }
}
    @media screen and (max-width: 700px) {
    
        .main__news_item{
            width: 224px;
        }
        .main__news_item_imag{
            width: 224px;
            height: 150px;
        }  
        .main__news_data{
            margin: 16px auto 0 12px ;
     
         }
         .main__news_item_title{
             font-size: 22px;
             line-height: 24px;
             margin: 12px auto 10px 16px;
         }
     }



 