.main__input {
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    height:64px;
  
}
.main__input_text{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 608px;
    margin-left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    padding-left: 24px;
}

.main__input_serch {
    position: relative;
    width: 168px;
    margin-left:440px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color:#fff;
}



.main__input_serch:hover{
    background: #347EFF;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    cursor: pointer;
}
.main__next_view {
    position: relative;
    width: 288px;
    margin-left:121px;
    border-radius: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    top:0px;
  
 }
.main__next_view:hover{
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 80px;
    cursor: pointer;
}

 .main__input__user-data{
    /*! width:1440px; */ 
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    border_: 1px solid red;
    /*! padding-bottom: 60px; */
    margin-top:64px;
    padding-bottom: 80px;
  
 }
 @media screen and (max-width: 980px) {
    .main__input_text{
        width: 448px;   
    }
    .main__input_serch{
        width: 160px;
        margin-left: 304px;   
    }
}   
@media screen and (max-width: 700px) {
    .main__input_text{
        width: 288px;   
    }
    .main__input_serch{
        width: 288px;
        margin: 72px auto 32px auto;
       
    }
}   
   